.infoCard {
    width: 100%;
    height: 50%;
    padding: 100px 120px;
    font-family: 'yekan';
    display: flex;
    align-items: center;
    justify-content: space-between;

    .infoCardText {
        width: 60%;
        background-color: #f7f7f7d8;
        padding: 30px;
        border-radius: 30px;
        box-shadow: 0 1px 2px rgb(233, 233, 233);

        h2{
            font-size: 35px;
            color: #013C04;
        }

        p{
           font-size: 20px;
           text-align: justify;
           color: #464E59; 
        }
    }

        /* Responsive adjustments */
        @media (max-width: 1024px) {
            padding: 50px;
    
            .infoCardText h2 {
                font-size: 28px;
            }
    
            .infoCardText p {
                font-size: 18px;
            }
        }
    
        @media (max-width: 768px) {
            flex-direction: column;
            text-align: center;
            padding: 20px;
            height: unset;
    
            .infoCardText {
                width: 100%;
                margin-bottom: 20px;
                order: 2;
            }
    
            .infoCardText h2 {
                font-size: 24px;
                margin-bottom: 0;
            }
    
            .infoCardText p {
                font-size: 18px;
                margin-top: 5px;
            }
    
            img {
                order: 1;
                width: 100%;
                max-width: 300px; 
                height: auto;
            }
        }
}