.ant-layout-header {
    background: #fff;
    padding: 0 120px;
    display: flex;
    align-items: center;
    direction: rtl;
    height: 70px;
}

.navbar .ant-menu {
    flex: 1;
}

.navbar .ant-menu-item {
    font-size: 20px;
    font-family: 'yekan';

    span {
        color: #212B36;
    }
}

.navbar .ant-btn {
    background-color: #018A08;
    font-family: 'yekan';
    font-size: 18px;
    font-weight: 500;
    border-radius: 10px;
    padding: 0px 15px;
}

.navbar .ant-btn:hover {
    background: #45a049 !important;
}

.navbar .logo {
    font-size: 30px;
    font-weight: 700;
    color: #018A08;
    font-family: 'yekan';
    margin-left: 100px;
}

// Media query for smaller screens
@media (max-width: 768px) {

    .ant-layout-header {
        padding: 0 30px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .headerDownloadButton {
            display: none;
        }

        .ant-menu-submenu-title {
            color: #018A08 !important;
            text-align: center;
        }

        .navbar .ant-dropdown-menu {
            background-color: #fff;
            /* Set dropdown background color */
            border: 1px solid #018A08;
            /* Set dropdown border color */
        }
    }

    .headerDownloadButton {
        order: 1;
    }

    .navbar .ant-layout-header {
        padding: 0 20px; // Reduce padding
    }

    .navbar .ant-menu-submenu-selected::after {
        border-bottom-color: #018A08 !important;
    }

    .navbar .ant-menu {
        flex: unset;
        width: 20%;
        display: none; // Hide menu by default
        flex-direction: column; // Stack vertically
        order: 2;
    }

    .navbar .ant-menu-item {
        width: 100%; // Make menu items full width
        text-align: center; // Center text
    }

    .menuToggle {
        display: block; // Show toggle button
    }

    .navbar .ant-menu.active {
        display: flex; // Show menu when active
    }
}

.ant-menu-item:hover::after {
    border-bottom-color: #018A08 !important;
}

.ant-menu-item-selected::after {
    border-bottom-color: #018A08 !important;
}