.footer {
    background-color: #F9FAFB;
    width: 100%;
    height: 400px;
    clip-path: ellipse(100% 100% at 50% 100%);
    padding: 30px 120px;
    font-family: 'yekan';

    .footerTitle {
        display: flex;
        align-items: center;
        justify-content: center;

        h1 {
            color: #018A08;
            font-size: 40px;
            font-weight: 700;
        }
    }

    .footerLinksWrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 40%;
        margin: auto;

        .footerLink {
            cursor: pointer;
            border: 1px solid #232A34;
            padding: 10px 25px;
            border-radius: 15px;
            font-size: 16px;
        }
    }

    .footerDownloadLinksWrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 30px auto;
        width: 40%;
        direction: rtl;

        .directDownload {
            background-color: #018A08;
            font-family: 'yekan';
            font-size: 16px;
            padding: 20px 15px;
            border-radius: 12px;

            &:hover {
                background: #018A08 !important;
            }
        }

        .unDirectDownload {
            background-color: #181D25;
            font-family: 'yekan';
            font-size: 16px;
            padding: 20px 15px;
            border-radius: 12px;

            &:hover {
                background: #181D25 !important;
            }
        }
    }

    .footerSocialMedia {
        width: 8%;
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    // Responsive styles for smaller screens
    @media (max-width: 768px) {
        padding: 20px 15px;
        height: auto;
        clip-path: ellipse(200% 100% at 50% 100%);

        .footerTitle {
            h1 {
                font-size: 35px;
            }
        }

        .footerLinksWrapper {
            align-items: flex-start;
            flex-wrap: wrap;
            display: flex;
            width: 90%;

            .footerLink {
                &:nth-child(-n+3) {
                    width: 32%; 
                }

                &:nth-child(n+4) {
                    width: 49%; 
                }
                border: 2px solid #232A34;
                font-size: 18px;
                font-weight: bold;
                margin: 5px 0;
                text-align: center;
                border-radius: 15dx;


            }
        }

        .footerDownloadLinksWrapper {
            flex-direction: column;
            align-items: center;
            width: 100%;

            .directDownload,
            .unDirectDownload {
                border-radius: 15px;
                width: 90%;
                margin: 5px 0;
                padding: 30px 0;
                font-size: 20px;
            }
        }

        .footerSocialMedia {
            width: 40%; 
            margin-top: 20px;
            :first-child{
                width: 40px;
            }
            :last-child{
                width: 55px;
            }
        }
    }

    @media (max-width: 576px) {
        .footerLink {
            font-size: 12px !important;
        }
    }

}