@font-face {
  font-family: 'yekan';
  src: url('./assets/fonts/BYekan.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

html, body {
  height: 100%;
  margin: 0;
  margin: 0;
  padding: 0;
  font-family: 'yekan';
}
